<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UserListApp-CoverageX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67597E832E0C6EFC0080B2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67597E992E0C6EFE0080B2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67597EA32E0C6EFE0080B2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
